:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --black-light: #00000019;
  --primary: #044dc3;
  --primary-100: #185ba5;
  --primary-200: #005396;
  --primary-300: #054dc3;
  --secondary: #51b549;
  --secondary-100: #52b449;
  --gray-100: #f7f7f7;
  --gray-200: #edf1f2;
  --gray-300: #e2e7e9;
  --gray-400: #f2f2f2;
  --gray-500: #e6e6e6;
  --gray-600: #9b9b9b;
  --gray-700: #707070;
  --gray-800: #555555;
  --blue-100: #e8f1ff;
  --red-100: #f54257;
  --red-200: #ff5b4d;
  --red-300: #e44e41;
  --red-400: #e64e41;
  --red-500: #d01d32;
  --orange-100: #e37d34;
  --orange-200: #e37d34;
  --yellow: #ffce00;
  --lime: #e2f7e1;
  --pink-light: #ffeae8;
  --cream: #ffede0;
  --blue-light: #d6e6ff;
}
